html {
    height: 100%;
    width: 100%;
  };

  /* .container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn{
    width:150px;
    height: 150px;
  }

  .btns{
    width:100px;
    height: 100px;
  } */